<h1>What is the Electric Pickle Podcast?</h1>
The Electric Pickle Podcast is not your typical EDM podcast. We don't care about genres. We care about good quality music. Period. 
<br/><br/>
The Electric Pickle features music from all over the EDM scene from up and coming producers to old salty favorites in genres like Electro, House, Trap, Dubstep, and Moombahcore. We don't give a F***. We will play anything that makes its mark on EDM. 
<br/><br/>
Hosted by Mike Heymans (<a href="http://www.mikeheymans.com">www.mikeheymans.com</a>) and Eesa (<a href="http://www.iameesa.com">www.iameesa.com</a>) every Sunday, and they never hesitate to give their harshest of opinions. Other podcasts are an hour of solid music from the same genre. F**K THAT! We play music, joke, tell you what we think, and interview festival headliners.
<br/><br/>
So if you're a dance music lover that transcends genres, and want to be entertained for an hour ever Sunday while you recover from your epic weekend of RAGING! The Electric Pickle is here for you. Tune in, Turn it up, and let's do this!