<!--<h1><%=@post.title%></h1>
<%=newlines(@post.body).html_safe%> -->

<h1>Episode #1 - 12/02/12</h1>
In the debut episode of The Electric Pickle Podcast we have Trap, Electro, Dubstep, EDM news, the Beatport Top5, and a Hippo sprays shit all over.<br/>
<br/>

<div class="center">
	<%unless browser.ie?%>
	<div class="clear blue color texture tape">
	   <div class="window"></div>
	   <div class="rail-left"></div>
	   <div class="rail-right"></div>
	   <div class="rail-middle">
	    <div class="rail-middle-outline">
	     <div class="hole-1"></div>
	     <div class="hole-2"></div>
	     <div class="hole-3"></div>
	     <div class="hole-4"></div>
	     <div class="tape-pad-holder">
	     <div class="tape-pad"></div>
	     <div class="tape-pad-line"></div>
	    </div>
	   </div>
	   <div class="screw-bm"></div>
	   </div>
	   <div class="screw-tl"></div>
	   <div class="screw-tr"></div>
	   <div class="screw-bl"></div>
	   <div class="screw-br"></div>
	   <div class="left reel"></div>
	   <div class="left spokes">
	   </div>
	   <div class="right reel"></div>
	   <div class="right spokes">
	   </div>
	   <canvas class="connecting-tape"></canvas>
	   <div class="left tape-guide"></div>
	   <div class="right tape-guide"></div>
	   <div class="progress-notches">
	    <div class="n1"></div>
	    <div class="n2"></div>
	    <div class="n3"></div>
	    <div class="n4"></div>
	    <div class="n5"></div>
	    <div class="n6"></div>
	    <div class="n7"></div>
	    <div class="n8"></div>
	    <div class="n9"></div>
	   </div>
	   <div class="label">EPP - Episode #1</div>
		(click to play)
	   <div class="controls">
	    <div class="bd">
	     <ul>
	      <li><a href="#" title="play/pause" class="play">&#9656;</a></li>
	      <li><a href="#" title="rewind" class="rew">&#171;</a></li>
	      <li><a href="#" title="fast-forward" class="ffwd">&#187;</a></li>
	      <li><a href="#" title="stop" class="stop">&#9632;</a></li>
	     </ul>
	    </div>
	   </div>
	</div>
	<%else%>
	<!-- lame-o player for IE People -->
	<div id="ie-tape">
		<div id="ie-play">
			<a href="http://download.electricpicklepodcast.com/epp_episode1.mp3" type="audio/mpeg">EPP - Episode #1</a><br/><span class="small">(click to play)</span>
		</div>
	</div>
	<%end%>
	<br/>
	Download: <a href="http://download.electricpicklepodcast.com/epp_episode1.mp3">http://download.electricpicklepodcast.com/epp_episode1.mp3</a>

</div>

<br/>
Thanks for Listening! Catch us next week, we are going to feature a lot of music from SF Bay Area locals on next week's show.<br/>
<br/>
Track List:
<ul>
	<li>Skrillex - Imma Try it Out (feat. Alvin Risk)</li>
	<li>Diplo - Express Yourself (Gent and Jawns Remix)</li>
	<li>Flostradamas - Drak Knight (Original Mix)</li>
	<li>Zedd - Clarity (feat. Foxes) (Aylen Remix)</li>
	<li>Red Hot Chili Peppers - Californication (Xristo Remix)</li>
	<li>Mike Ramirez - Impact (Incognent Remix)</li>
	<li>Ross'FM - Rage Mode (Original Mix)</li>
	<li>Wax Motif/Neoteric - We Go Deep (Torro Torro Remix)</li>
	<li>Seven Lions - Days to Come (Mike Heymans Remix)</li>
</ul>
<br/>
Beatport Top 5:
<ol>
	<li>Hardwell/Amba Shepard - Apollo (feat. Amba Shepard)</li>
	<li>Nicky Romero/Nervo - Like Home (Original Mix)</li>
	<li>TJR - Ode to Oi (Original Mix)</li>
	<li>Bingo Players - Out of My Mind (Original Mix)</li>
	<li>Dennis Ferrer/Nick Curly - Underground (Dennis Ferrer Remix)</li>
</ol>
Special Thanks to DJ Oktivv. His track "Mary, Lucy, Molly" is the backing track for the EDM news segment. Watch for that track to be featured next week ;)