<h1>Past Episodes</h1>

<%for post in @posts do%>
<div class="post">
	<div class="title">
		<%=link_to(post.title, :controller=>:posts, :action=>:view, :url=>post.url)%>
	</div>
	<div class="post-body">
		<%=newlines(post.body.truncate(105)).html_safe%>
	</div>
	<%if logged_in?%>
	<div class="admin-links">
		<%=link_to('edit', :controller=>:posts, :action=>:edit, :id=>post.id)%> | <%= link_to 'delete', @post, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
	</div>
	<%end%>
</div>
<%end%>
